<% if @errors.present? %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for @hotel do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>


  <div>
    <%= form.label :description%>
    <%= form.text_area :description%>
  </div>

  <div>
    <%= form.label :stars%>
    <%= form.select :stars, ['1', '2', '3', '4','5']%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
