<h1> <%= @hotel.name %> </h1>
<h3> <%= @hotel.stars%> stars </h3>

<%= image_tag(@hotel.image) %>


<h2>Description</h2>
<p><%= @hotel.description %></p>


<div>
  <ul>
    <li><%= link_to "Back", hotels_path %></li>
    <li><%= link_to "Delete", hotel_path(@hotel), data: {
      confirm: "Are you sure?" }, method: :delete %></li>
  </ul>
</div>
