<% if @errors.present? %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for @package do |form| %>
  <div>
    <%= form.label :destination %>
    <%= form.text_field :destination %>
  </div>

  <div>
    <%= form.label :departure_date %>
    <%= form.date_field :departure_date %>
  </div>

  <div>
    <%= form.label :arrival_date %>
    <%= form.date_field :arrival_date %>
  </div>

     <%= form.label :hotels_id %>
     <%= form.select :hotels_id, options_for_select(Hotel.all.map { |hotel| [hotel.name, hotel.id] }) %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
