<h1>Welcome to our Travel Agency</h1>

<ul>
  <li><%= link_to "Create Package", new_package_path %></li> 
  <li><%= link_to "Create Hotel", new_hotel_path %></li>

  <li><%= link_to "Search Packages", new_package_path %></li> 
  <li><%= link_to "List Hotels", hotels_path %></li>
</ul>
